# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ / Android Studio
*.iml
*.ipr
*.iws
.idea/

# Visual Studio Code
.vscode/
*.code-workspace
App Favignana.code-workspace

# Flutter/Dart/Pub
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Android
android/app/libs/
android/app/src/main/assets/
android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
android/gradle/
android/captures/
android/gradlew
android/gradlew.bat
android/local.properties
android/*.iml
android/.gradle
android/.idea
android/app/google-services.json

# iOS
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Generated.xcconfig
ios/Flutter/app.flx
ios/Flutter/app.zip
ios/Flutter/flutter_assets/
ios/ServiceDefinitions.json
ios/Runner/GeneratedPluginRegistrant.*
ios/.generated/
ios/Runner/Assets.xcassets/AppIcon.appiconset/
ios/Runner/Base.lproj/LaunchScreen.storyboard
ios/Runner/Info.plist
ios/Runner.xcodeproj/project.xcworkspace/
ios/Runner.xcworkspace/
ios/.xcode_project_data
ios/Podfile.lock
ios/Pods/

# Web
lib/generated_plugin_registrant.dart

# Exceptions to above rules.
!/packages/flutter_tools/test/data/dart_dependencies_test/**/.packages

# User Specific
Documenti/
debug_map.html
